body {
  font-family: Arial, sans-serif;
  background: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}


h1 {
  margin-bottom: 5px;
}

p {
  color: #555;
}


.chat-container {
  width: 350px;
  height: 500px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


#chat-box {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.input-area {
  display: flex;
  border-top: 1px solid #ddd;
}

#user-input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

#send-btn {
  background: #ff4d6d;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.2s;
}

#send-btn:hover {
  background: #e63e5a;
}


.user {
  align-self: flex-end;
  background: #dcf8c6;
  padding: 8px 12px;
  border-radius: 15px 15px 0;
  max-width: 80%;
}

.bot {
  align-self: flex-start;
  background: #eee;
  padding: 8px 12px;
  border-radius: 15px 15px 15px 0;
  max-width: 80%;
}

.bloop {
  align-self: flex-start;
  background: #ffd6d6;
  padding: 8px 12px;
  border-radius: 15px;
  max-width: 80%;
  font-style: italic;
}
